<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>x64</LastUsedPlatform>
        <PublishProvider>FileSystem</PublishProvider>
        <PublishUrl>D:\DOWNLOADS\linux-arm-x64</PublishUrl>
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <SiteUrlToLaunchAfterPublish />
        <TargetFramework>net6.0</TargetFramework>
        <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <ProjectGuid>b608f59f-4c72-43fd-820c-a0badf4591af</ProjectGuid>
        <SelfContained>true</SelfContained>
    </PropertyGroup>
</Project>