@page "/"
@using InverterMon.Shared.Models
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Dashboard</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">
                    <span class="oi oi-power-standby" aria-hidden="true"/>
                    Output Load
                </h5>
                <div class="card-body">
                    <div class="container text-center fw-bold">
                        <div class="row bg-light rounded p-2">
                            <div class="col">
                                <div class="fs-1 text-danger">@status?.LoadWatts</div>
                                Watts
                            </div>
                        </div>                         
                        <div class="row p-1">
                            <div class="col">
                                <div class="fs-6 text-muted">@status?.OutputVoltage</div>
                                <span class="text-body">Voltage (V)</span>
                            </div>
                            <div class="col">
                                <div class="fs-6 text-muted">@status?.LoadCurrent</div>
                                Current (A)
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">
                    <span class="oi oi-sun" aria-hidden="true"/>
                    PV Input
                </h5>
                <div class="card-body">
                    <div class="container text-center fw-bold">
                        <div class="row bg-light rounded p-2">
                            <div class="col">
                                <div class="fs-1 text-success">@status?.PVInputWatt</div>
                                Watts
                            </div>
                        </div>                         
                        <div class="row p-1">
                            <div class="col">
                                <div class="fs-6 text-muted">@status?.OutputVoltage</div>
                                <span class="text-body">Voltage (V)</span>
                            </div>
                            <div class="col">
                                <div class="fs-6 text-muted">@status?.PVInputCurrent</div>
                                Current (A)
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="container pt-4">
        <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header align-self-center w-100">
                    <span class="oi oi-battery-empty" aria-hidden="true"/>
                    Battery
                </h5>
                <div class="container text-center p-2">
                    <div class="row">
                        <div class="col-4">
                            <span class="fs-6 fw-bold text-muted">Discharging</span>
                            <div class="fw-bold">
                                <div class="fs-1 text-danger">@status?.BatteryDischargeWatts</div>
                                Watts
                                <div class="fw-bold">
                                    <div class="fs-6 text-muted">@status?.BatteryDischargeCurrent</div>
                                    (A)
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="container bg-light rounded-1 p-3 m-2 fw-bold text-muted fs-1">
                                <div class="fs-4">Voltage</div>
                                <div class="text-black">@status?.BatteryVoltage</div>
                                <div class="fs-6 text-black-50">(V)</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <span class="fs-6 fw-bold text-muted">Charging</span>
                            <div class="fw-bold">
                                <div class="fs-1 text-success">@status?.BatteryChargeWatts</div>
                                Watts
                                <div class="fw-bold">
                                    <div class="fs-6 text-muted">@status?.PVInputCurrent</div>
                                    (A)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

@code{
    private InverterStatus? status;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "api/status");
        request.SetBrowserResponseStreamingEnabled(true);

        using var response = await Http.SendAsync(request, HttpCompletionOption.ResponseHeadersRead);
        response.EnsureSuccessStatusCode();

        using var stream = await response.Content.ReadAsStreamAsync();

        await foreach (var data in 
            JsonSerializer.DeserializeAsyncEnumerable<InverterStatus>(
                stream,
                new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true,
                    DefaultBufferSize = 128
                }))
        {
            if (data is not null)
            {
                status = data; 
                StateHasChanged();
            }            
        }
    }
}