@page "/"
@using InverterMon.Shared.Models
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Dashboard</PageTitle>

<h1>Inverter Status</h1>
<div>
    <p>load watts: @status?.LoadWatts (w)</p>
    <p>pv watts : @status?.PVInputWatt (w)</p>
</div>

@code{
    private InverterStatus? status;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "api/status");
        request.SetBrowserResponseStreamingEnabled(true);

        using var response = await Http.SendAsync(request, HttpCompletionOption.ResponseHeadersRead);
        response.EnsureSuccessStatusCode();

        using var stream = await response.Content.ReadAsStreamAsync();

        await foreach (var data in 
            JsonSerializer.DeserializeAsyncEnumerable<InverterStatus>(
                stream,
                new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true,
                    DefaultBufferSize = 128
                }))
        {
            if (data is not null)
            {
                status = data; 
                StateHasChanged();
            }            
        }
     }
}